// styling for tags page

@import "./variables.scss";

.tag-box {
  height: auto;
  width: 100%;
  flex-direction: column;

  .img-cont {
    max-width: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1567659879650-57a0bd8d7df2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ);
    background-position: center;
    background-size: cover;
    height: 500px;
    max-height: 500px;

    @media screen and(max-width:960px) {
      max-height: 800px;
      height: 800px;
    }
    @media screen and(max-width:480px) {
      max-height: 500px;
      height: 500px;
    }
    .box {
      position: absolute;
      top: 80%;
      width: 80%;
      padding: 30px;
      box-shadow: none;
      outline: none;
      background-color: $bg-color;
      justify-content: left;
      flex-direction: row;

      @media screen and(max-width:480px) {
        top: 30%;
      }
      .card-left {
        max-width: 50%;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        text-align: left;
        @media screen and(max-width:480px) {
          max-width: 100%;
        }
        h1 {
          font-weight: bold;
          align-self: baseline;
          @media screen and(max-width:480px) {
            font-size: 25px;
          }
        }
      }
    }
  }
}
.tags-card {
  font-weight: bold;
  width: 100%;

  .tag-wrapper {
    width: 80%;
    max-width: 80%;
    margin-top: 100px;
    .columns {
      width: 100%;
      justify-content: center;
      align-items: center;
      .column {
        text-align: center;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        height: 80px;
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        padding-right: 0;
        .tag-img {
          height: 100%;
          width: 100%;
          background-position: center;
          background-size: cover;
          font-size: 25px;
          a {
            text-decoration: none;
            color: white;
            &:after {
              content: "";
              transform: translateY(-15px);
              display: block;
              background: $underline-color;
              width: 0%;
              height: 7px;
              transition: width 0.3s ease;
              @media screen and(max-width:660px) {
                transform: translateY(-25px);
              }
            }
            &:hover {
              &:after {
                width: 100%;
                transition: width 0.3s ease;
              }
            }
          }
        }
        .side-title {
          height: 100%;
          background-color: $bg-color;
          width: 100%;
          font-size: 30px;
          margin-right: 15px;
        }
      }
    }
  }
}