$hover-color: palevioletred;
$bg-color: #f9f9f9;
$border-color: rgb(161, 141, 116);
$line-color: #000;
$underline: #7965435b;
$font-family-primary: "Josefin Sans", sans-serif;
$trans1: all 0.5s ease-in-out;
$trans2: all 0.3s ease-in-out;
$underline-color: #ff6dc5dc;